@import '@/assets/scss/vars/index.scss';

.mycode .code_content .content {
  padding: 4rem 2rem 9.5rem;
  min-height: 70.097rem;
  position: relative;

  @media (max-width: 550px) {
    min-height: 62rem;
  }
}

.code_btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  max-width: 35rem;
  margin: auto;

  @media (max-width: 75em) {
    width: 100%;
    // margin-bottom: 1rem;
  }

  @media (max-width: 720px) {
    width: 96%;
  }

  @media (max-width: 640px) {
    width: 100%;
    max-width: 40rem;
  }

  .code_btn {
    width: 100%;
    text-align: center;

    span {
      transform: translateY(-0.1rem);
    }

    a {
      width: 80%;
      background-color: transparent;
      font-size: 2rem;
      font-weight: map-get($font-weight, 'bold');
      color: rgba(255, 255, 255, .2);
      // border-bottom: 2px solid map-get($color, 'grayLight');
      border-radius: unset;
      letter-spacing: 2px;
      padding: 0;

      @media (max-width: 640px) {
        font-size: 2.4rem;
        width: 100%;
      }

      span:after {
        content: "";
        display: block;
        width: 100%;
        height: .5rem;
        background-color: transparent;
        border-radius: 100px;
        margin-top: 1.2rem;
      }
    }

    &.active {
      a {
        color: map-get($color, 'subtitle');
        // border-bottom: 2px solid map-get($color, 'primaryLight');

        span:after {
          background-color: map-get($color, 'primaryLight');
        }
      }
    }
  }
}

.mycode .content .point_details {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;

  .text {
    >p {
      font-size: 1.8rem;
      color: map-get($color, 'light');
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 4rem;

      @media (max-width: 640px) {
        font-size: 2rem;
      }

      span {
        color: map-get($color, 'primaryLight');
      }
    }
  }

  .point_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: map-get($font-weight, 'medium');
    margin-bottom: 1.5rem;

    @media (max-width: 640px) {
      font-size: 2.2rem;
    }

    p {
      border-right: .15rem solid #fff;
      padding-left: 2rem;
      padding-right: 2rem;

      @media (max-width: 640px) {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      &:last-child {
        border-right: none;
        margin: 0;
      }

      &>span {
        @media (max-width: 720px) {
          display: block;
        }

        & .color {
          color: map-get($color, 'primaryLight');
        }
      }
    }
  }
}

.tab_page {
  margin: 0 auto 0;
  max-width: 74.5rem;
  width: 90%;

  @media (max-width: 75em) {
    width: 100%;
  }

  @media (max-width: 720px) {
    width: 96%;
  }

  &.zero {
    .zero_text {
      padding-top: 2rem;
    }
  }

  span {
    letter-spacing: 2px;
    padding-left: 2px;

    @media (max-width: 40em) {
      letter-spacing: 1px;
      padding-left: 1px;
    }
  }

  .zero_text {
    font-size: 2.4rem;
    text-align: center;
  }

  .th {
    font-size: 1.8rem;
    border-bottom: none;

    @media (max-width: 640px) {
      font-size: 2.2rem;
    }

    .row {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }

    @media (max-width: 75em) {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }

  .td {
    font-size: 1.6rem;

    @media (max-width: 720px) {
      font-size: 1.8rem;
    }

    @media (max-width: 22.5em) {
      font-size: 12px;
    }
  }

  .row {
    // display: flex;
    // justify-content: flex-start;
    // align-items: stretch;
    position: relative;
  }

  .grid {
    position: relative;
    color: map-get($color, 'primaryLight');

    &+.grid::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 70%;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.tab_page .th .grid {
  background-color: #097b49;
  color: map-get($color, 'subtitle');
  padding: 1.4rem 0;

  &:nth-child(1) {
    border-radius: 2rem 0 0 0;
  }

  &:nth-child(3) {
    border-radius: 0 2rem 0 0;
  }

  @media (max-width: 720px) {
    padding: 1.4rem 0;
  }
}

.tab_page .td .row {
  background-color: map-get($color, 'whiteBG');
  border: 1px solid map-get($color, 'primaryLight');
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid map-get($color, 'primaryLight');
  }
}

.zero_text {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
}

.username_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: map-get($font-weight, 'bold');
  color: map-get($color, 'primaryLight');
  letter-spacing: .3rem;
  margin-bottom: 1.8rem;

  @media (max-width: 640px) {
    font-size: 3rem;
  }

  .username {
    margin-right: 0.6rem;
  }

  .small_text {
    font-weight: 500;
    text-align: center;
  }
}

.username {
  @media (max-width) {
    font-size: 3.1rem;
  }

  span {
    @media (max-width: 1200px) {
      display: block;
    }

    @media (max-width: 75em) {
      display: inline;
    }
  }
}

.mycode {
  .bg-left {
    background-image: url(~@/assets/images/bg-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 41.7rem;
    padding-bottom: 46.7rem;
    position: absolute;
    top: -15.2rem;
    left: -24.4rem;

    @media (max-width: 1500px) {
      width: 35%;
      left: -12.4rem;
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  .bg-right {
    background-image: url(~@/assets/images/bg-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    width: 42rem;
    padding-bottom: 53.7rem;
    position: absolute;
    bottom: -9.6rem;
    right: -27.1rem;
    pointer-events: none;

    @media (max-width: 1500px) {
      width: 35%;
      right: -13.1rem;
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  .bg-top-m {
    background-image: url(~@/assets/images/bg-top-m.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 120rem;
    padding-bottom: 31.8rem;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  .bg-bottom-m {
    background-image: url(~@/assets/images/bg-bottom-m.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 120rem;
    padding-bottom: 25.6rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }
}