@import '@/assets/scss/vars/index.scss';

.channels .content .access {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1.2px solid map-get($color, 'lightGreen');
  padding: 1rem 0;

  .type {
    display: flex;
    align-items: center;
    min-width: 10.3rem;

    span {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 8.3rem;
      height: 8.3rem;
      margin: auto;

      @media (max-width: 500px) {
        width: 10.3rem;
        height: 10.3rem;
      }
    }
  }

  &:nth-child(1) {
    .type span {
      background-image: url(~@/assets/images/store-buy-1.png);
    }
  }

  &:nth-child(2) {
    .type span {
      background-image: url(~@/assets/images/store-buy-2.png);
    }
  }

  &:nth-child(3) {
    .type span {
      background-image: url(~@/assets/images/store-buy-3.png);
      background-size: 2.4rem;

      @media (max-width: 500px) {
        background-size: 3.4rem;
      }
    }
  }

  &:nth-child(4) {
    border-bottom: none;

    .type span {
      background-image: url(~@/assets/images/store-buy-4.png);
    }
  }

  .store {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 6rem;

    p {
      font-weight: 600;
      color: map-get($color, 'primary');
    }

    br {
      display: none;

      @media (max-width: 720px) {
        display: block;
      }

      @media (max-width: 420px) {
        display: none;
      }
    }
  }
}