@import '@/assets/scss/vars/index.scss';

.bg {
  position: fixed;
  width: 100%;
  // height: calc(100vh - 76px);
  min-height: 100vh;
  top: 10.5rem;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(~@/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @media (max-width: 1200px) {
    top: 7.6rem;
  }

  @media (max-width: 640px) {
    background-image: url(~@/assets/images/bg-m.jpg);
    background-position: top center;
  }
}

.bg-bottom {
  position: absolute;
  left: 0;
  bottom: -6.6rem;
  width: 100%;
  height: 27.2rem;
  background-image: url(~@/assets/images/bg-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  z-index: -1;

  @media (max-width: 1200px) {
    display: none;
  }
}

.title_banner {
  @media (max-width: 720px) {
    width: 100%;
    max-width: 64rem;
    height: 23.2rem;
    // background-image: url(~@/assets/images/banner-m.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
    top: 1.5rem;
    left: 0;
    // left: 1.8rem;
  }

  // @media (max-width: 40em) {
  //   left: 0;
  // }
}